@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5ace5a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #34b335;
}
